{{#each directory.subdirectories}}
<li class="subdirectory {{name}}">
  <div class="subdirectory-index">
  <span>0{{incrementer @index}}</span>
  <span>{{name}}</span>
  </div>
  <div class="subdirectory-value"><p>{{count}}</p></div>
</li>
{{/each}}
