@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: #fff;
$base-background-color: $light-gray;

body {
  font-family: $base-font-family;
  background-color: $base-background-color;
  color: $base-font-color;
  box-sizing: border-box;
  font-size: 14px;
}

.container {
  margin:  100px auto;
  height: 340px;
  width: 260px;
  border: 1px solid #fff;
  outline: 1px solid #999999;
  background-color: #444445;
}

.directory {
  list-style: none;
  height: 33px;
  padding-top: 13px;
  padding-bottom: 13px;
  background: -webkit-linear-gradient(#4b4d50, #797a7f);
}

.directory-logo,
.directory-value {
  display: inline-block;
  margin-left: 13px;
  margin-right: 13px;position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.directory-logo {
  float: left;
}

.directory-logo i {
  margin-right: 13px;
}

.directory-value {
  float: right;
  background-color: rgba(0,0,0,0.3);
  border-radius: 35%;
  padding: 5px;
}
